.footer-main-section {
  display: block;
  background-color:#03192b;
  padding: 0 5.5rem 10px;
}

.footer-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
}

.footer-top-item {
  flex: 1;
  width: 300px;
  height: 300px;
}

.aboutUs-items {
  text-decoration: none;
  color: var(--gold);
  list-style: none;
  line-height: 3rem;
}

.aboutUs-item {
  text-decoration: none;
  color: var(--darkgray);
}

.aboutUs-item:hover {
  color:var(--gold);
}

.title-header-section {
  font-size: 1.5rem;
  color: var(--brown);
}

.footer-comment-section {
  margin-right: 60px;
}

.form-field-elem {
  width: 210px;
  height: 40px;
  margin-top: 10px;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  padding: 7px 7px;
  outline: none;
}

#description {
  width: 370px;
  height: 120px;
  padding: 2%;
}

.btn-submit {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  border-right: 50px;
  border: 0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--brown);
}

.error-elem {
  margin: 5px 15px 0 0;
  color: red;
  font-size: 0.6rem;
}

.success-message {
  font-size: 1rem;
  text-align: center;
  width: 200px;
  height: 40px;
  margin-top: 15px;
  margin-right: 105px;
  font-family: "iranyekanwebmedium";
  color: #eaf1f0;
}

.social-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 50px;
  /* border: 1px solid var(--brown); */
  margin: 30px 260px 10px 15px;
  border-radius: 5px;
  padding-top: 5px;
  background-color:var;
  box-shadow: 1px 1px 10px 2px rgba(0, 5, 10, 0.589);
}

.right-side-social{
color: var(--gold);
margin-right: 50px;
padding-top: 15px;
}

.left-side-social{
  direction: ltr;
}

.social-media-items {
  color: var(--gold);
  font-size: 1.5rem;
  margin-left: 20px;
}

.contactU-list {
  list-style: none;
  margin-left: 40px;
}

.contactUs-item {
  color: var(--darkgray);
  margin-top: 15px;
}

.location-desc {
  margin-top: 100px;
  font-size: 1rem;
}

.icons {
  font-size: 1.5rem;
  color: var(--darkgray);
  margin-left: 5px;
}

.work-hours {
  list-style: none;
}
/* 
.work-hours :nth-child(2) {
  margin-right: 20px;
} */
/* 
.work-hours :last-child {
  margin-right: 20px;
} */
