.main-container-home {
  width: 100%;
  margin-bottom: 20px;
}

.home-container {
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
  text-align: justify;
  margin: 5rem;
  padding:2rem;
}

