.main-container-header {
  position: relative;
  width: 100%;
  height: 600px;
}
.header-img-item {
  max-width: 1500px;
  width: 100%;
  height: 700px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  w
  text-align: center;
  background: red;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

