.swiper {
    width: 80%;
    border: 1px solid sandybrown;
    padding-top: 5px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }