.swiper {
    width: 88%;
    border: 1px solid sandybrown;
    padding-top: 5px;
    padding-bottom: 50px;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 8px;
  }