.swiper {
    width: 88%;
    border: 1px solid sandybrown;
    padding-top: 5px;
    padding-bottom: 50px;
    
  }
  
  .swiper-slide {
    /* background-position: center; */
    /* background-size: cover; */
    width: 50px;
    /* height: 100px; */
    border-radius: 8px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }